@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');


h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  color: #3C250A;
}

p, li {
  font-family: 'Slabo 27px', serif;
  color: #7B756C;
}


.project {
  background-color: #E8E5D0;
  width: 543px;
}


.wrapper {
  width: 960px;
  margin: 0 auto;
}

header, footer {
  background-color: #F0FFE5;
  text-align: center;
  padding: 15px 30px;

}

header img {
  width: 40%;
  border-radius: 15px;
}

.main-content {
  background-color: #F0FFE5;
  padding: 10px 0;
  border-top: 2px solid #F0FFE5;
}

.main-content ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto;
  text-align: center;
}

.main-content ul li {
  padding: 10px;
  /*text-align: center;*/
  display: inline;
}

a {
  color: #CFD11A; /*yellow */
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.main-content p {
  margin: 30px 40px;
}

.main-content h2 {
  text-align: center;
}

#projects {
  background-color: #F0FFE5;
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

.project {
  width: 30%;
  display: block;
  margin: 1.66%;
  background-color: #D2E8D3;
  border-radius: 20px;
  float: left;
  text-align: center;
}

.project h2 {
  text-align: center;
  display:inline-block;
}

.project img {
  max-width: 100%;
  text-align: center;
}

.project ul li{
  display:block;
  text-align: left;
}

.project ul{
  display:block;
  text-align: left;
}

.project ol li{
  display:block;
  text-align: left;
}












